<div class="footer-container">
  <!-- Información de la empresa y redes sociales -->
  <div class="company-info">
    <h2>IKOMI PERU</h2>
    <p>
      Empresa importadora y comercializadora de repuestos para todo tipo de
      vehículos con calidad y a precios de mercado.
    </p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-skype"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

  <!-- Detalles de contacto -->
  <div class="contact-info">
    <div class="contact-card">
      <i class="fas fa-map-marker-alt"></i>
      <h3>Dirección</h3>
      <p>
        Avenida Nicolás Ayllón 3384<br />Carretera Central - Paradero Rayovac<br />Lima
        - Ate
      </p>
    </div>
    <div class="contact-card">
      <i class="fas fa-envelope"></i>
      <h3>Correo</h3>
      <p>ventas&#64;ikomiperu.com<br />ventas&#64;ikomiperu.com</p>
    </div>
    <div class="contact-card">
      <i class="fas fa-phone"></i>
      <h3>Teléfonos</h3>
      <p>985 068 416<br />981 453 306</p>
    </div>
  </div>

  <!-- Menú lateral de enlaces -->
  <div class="sidebar-links">
    <h3>Links</h3>
    <ul>
      <li>
        <a href="#"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-building"></i> Nosotros</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-briefcase"></i> Servicios</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-product-hunt"></i> Producto</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-users"></i> Equipo</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-envelope"></i> Contáctenos</a>
      </li>
    </ul>
  </div>
</div>

<!-- Derechos de autor -->
<div class="footer-bottom">
  <p>
    Copyright &copy; 2024 <a href="#">Grupo IKOMI PERU</a>. Todos los derechos
    reservados.
  </p>
</div>
