<div class="nosotros-container">
  <div class="card">
    <div class="card-title">Equipo</div>
    <img src="assets/nosotros.jpg" alt="Equipo" class="card-image" />
    <p class="card-description">EMPRESA IMPORTADORA DE REPUESTOS</p>
  </div>

  <div class="card">
    <div class="card-title">Almacén</div>
    <img src="assets/bodega.jpg" alt="Almacén" class="card-image" />
  </div>

  <div class="card">
    <div class="card-title">Tienda</div>
    <img src="assets/entrada.jpg" alt="Tienda" class="card-image" />
  </div>

  <div class="card">
    <div class="card-title">Empresa</div>
    <img src="assets/empresa.jpg" alt="Empresa" class="card-image" />
  </div>
</div>
