<div class="marcas-container">
  <h1>MARCAS</h1>
  <p>
    Contamos con las marcas más reconocidas en el mercado nacional e
    internacional especializadas en la fabricación de repuestos para vehículos
    con altos estándares de calidad.
  </p>

  <div class="brand-grid">
    <div class="brand-card">
      <img
        src="assets/sangsung-brake-logo.png"
        alt="Sangsung Brake Logo"
        class="brand-logo"
      />
      <p>
        Fabricante líder en la industria Coreana de piezas y partes para frenos
        de fricción, cuenta con más de 6 plantas a nivel mundial. Sangsung está
        equipado con las mejores tecnologías originales globalmente apreciadas y
        es suplidor OEM para Hyundai, Kia, GM Daewoo, SSangyong y Renault
        Samsung.
      </p>
    </div>

    <div class="brand-card">
      <img
        src="assets/hansung-logo.png"
        alt="Hansung Logo"
        class="brand-logo"
      />
      <p>
        La marca HANSANG maneja una amplia gama de repuestos para trenes de eje
        como: Piñón y corona, Deslizante, Piñones, Trenfijo, Satelites,
        Planetarios, Propulsores, Bronces, etc.
      </p>
    </div>

    <div class="brand-card">
      <img src="assets/mando-logo.png" alt="Mando Logo" class="brand-logo" />
      <p>
        Mando Corporation pertenece al grupo Halla Holding y cuenta con 60
        fábricas en el mundo, 16 centros de investigación y con más de 11,000
        trabajadores. La visión de Mando Corporation es crear productos seguros,
        ecológicos y de fácil uso.
      </p>
    </div>

    <div class="brand-card">
      <img src="assets/taic-logo.png" alt="Taic Logo" class="brand-logo" />
      <p>
        Tae Chul Industrial Co., fabricante de piezas de automóviles con más de
        70 años de experiencia en producción de bombas y bombas de embrague y
        embrague de la mejor calidad. Cuenta con 5 plantas en Asia.
      </p>
    </div>

    <div class="brand-card">
      <img
        src="assets/phc-valeo-logo.png"
        alt="PHC Valeo Logo"
        class="brand-logo"
      />
      <p>
        Valeo Pyeong Hwa International es una compañía que en menos de 60 años
        de experiencia en el sector se convirtió en una de las empresas líderes
        en el sector de embragues para automóviles, gracias a los 33 sistemas de
        embragues desarrollados con innovadoras patentes.
      </p>
    </div>

    <div class="brand-card">
      <img src="assets/yulim-logo.png" alt="Yulim Logo" class="brand-logo" />
      <p>
        Establecida en 1998, Yulim High-Tech ha crecido como una de las
        compañías líderes de la industria del automóvil en Corea. Produce y
        exporta piezas para sistemas de suspensión y dirección.
      </p>
    </div>
  </div>
</div>
